<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a routerLink="/game" routerLinkActive="active" class="nav-link" >Tic-Tac-Toe</a>
      </li>

      <li class="nav-item active">
        <a routerLink="/demo" routerLinkActive="active" class="nav-link">Demo-Place</a>
      </li>

      <li class="nav-item active">
        <a routerLink="/split" routerLinkActive="active" class="nav-link">Value Btn Two COMPs</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/s" routerLinkActive="active" class="nav-link">ServicePractice</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/pipe" routerLinkActive="active" class="nav-link">Pipe</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/employee" routerLinkActive="active" class="nav-link">Employee</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/reactive" routerLinkActive="active" class="nav-link">ReactiveForm</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/obs" routerLinkActive="active" class="nav-link">Observable</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="display">
  <router-outlet></router-outlet>
</div>


